.movie-details-container {
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: gray;
}

.main-info {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.image-section {
    width: 75%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    width:100%;
    height: auto;
    margin-bottom: 5px;
}

.tagline {
    margin:0;
    margin-left: 20px;
    font-size: 1.5rem;
}

.main-details {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    width: 75%;
    /* margin-right: 12.5%;
    margin-left: 12.5%; */
    margin-top: 0;
}

.title-section {
    display:flex;
    justify-content: space-between;
    margin:0
}

.movie-title {
    font-size: 2rem;
}

.home-button {
    appearance: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    padding:5px;
    height: 40px;
    margin: 5px;
    position: fixed;
    top:0;
    right:0
}

.overview {
    font-size: 1.5rem;
    width:100%;
}



