.card {
    border: 1px solid black;
    margin: 15px;
    width: 200px;
    height: 330px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card:hover { 
    transform: scale(1.1); 
    box-shadow: rgba(190, 20, 20, 0.744) 0px 5px 15px;

}

.poster-image {
    max-width: 100%;
    height: auto;
}

.card-footer {
    height:30px;
    width: 100%
}

.card-title {
    margin: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info-container {
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-date {
    margin: 0px;
    margin-left: 3px;
}

.card-rating {
    margin: 0px;
    margin-right: 3px;
}