.card {
    border: 3px solid black;
    margin: 15px;
    width: 200px;
    height: 330px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    overflow:hidden;

}

.card:hover { 
    transform: scale(1.05); 
    box-shadow: rgba(190, 20, 20, 0.744) 0px 5px 15px;

}

.poster-image {
    max-width: 100%;
    height: auto;
    margin:0;
}

.card-footer {
    width: 100%;
}

/* .card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
}

.card-date {
    margin: 0px;
    margin-left: 5px;
}

.card-rating {
    margin: 0px;
    margin-right: 5px;
}